@font-face {
    font-family: cordel;
    src: url(pacote-d012/PassionOne-Bold.ttf);
}
@font-face {
    font-family: blz;
    src: url(pacote-d012/Sriracha-Regular.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    
}
header{
    background-color: black;
    padding-top:40px;
    padding-bottom: 40px;
}
header > h1{
    color: white;
    padding: 15px;
    text-align: center;
    font-family: cordel;
    font-size: 11vw;
    font-variant: small-caps;
}
header > p{
    color: white;
    text-align: center;
    font-family: blz,Arial, Helvetica, sans-serif;
    font-size: 3vw;
    font-variant: small-caps;
}
header >p>a:hover{
    text-decoration: underline;
    color:rgb(0, 136, 255);
}
section{
    padding: 20px;
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: blz;
    font-size: 3.5vw;
    line-height: 2em;
}
section.imagem{
    background-color: aqua;
    color: white;
}
section.imagem >p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.225);
    padding: 0px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}
section#se1{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#se2{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family:blz;
    font-size: 2.75vw;  
    
}
footer >p>a:hover{
    text-decoration: underline;
    color: rgb(0, 136, 255);
}
a{
    text-decoration: none;
    color: white;
}