
/* Para adicionar uma fonte que não tem no CSS */
@font-face {
    /* O nome que vc quer escolher para a nova font-family: ; */
    font-family: Novafonte;
    /* O caminho da nova font-family: ; */
    src: url(Recursos/RychardwalkerDemo-nRwRP.ttf);
}
body{
    background-color: rgb(230, 232, 230); /* Cor do fundo */
    /* background-image: url("Recursos/maxresdefault.jpg"); */
    /* R = RED, G = GREEN, B = BLUE, A = ALFA para a transparencia. */
    color: rgba(0,0,0, 0.7); /*  Cor da fonte*/;
    
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Tipo da fonte */
    font-size: 30px; /* Tamanho da fonte. Px é pixel */
    color: rgb(51, 74, 207);/* Cor do texto */
    text-shadow: 2px 2px 2px black; /* Sombra no texto: 2px_deslocamento lateral, 2px_deslocamento vertical, 2px_espalhamento da sombra */
    
}
/* Para estilizar mais de uma tag */
h2, h3, h4{
    text-align: left;  /* Alinhamento de texto: left, center, right */
    font-family: Novafonte;
    
}
p{
    text-align: justify; /* Texto Justificado(na mesma medida: right and left) */
    text-indent: 50px; /* Margem de paragrafo */
}
/* # indica que existe um id que se chama imagemGradiente. Id é mais individual */
/* . Indica uma class. Semelhante ao id, porém pode ser usada por varias tags e assim modificar mais tags ao mesmo tempo  */
span#um{
    text-decoration: none; /* overline o contrario de underline, line-through, none */
    font-weight:bolder ; /* Quantidade de negrito */
}
figure.fotos{
    border: 8px solid rgba(0, 0, 0, 0.7); /* Borda, espessura da borda, tipo da borda, cor da bora */
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(255, 255, 255); /* Semelhante ao text-shadow */   
    position: relative; /* Vai ficar relativo a onde o codigo a html foi coloca */
}
/* Tag. class e a tag que será modificada. Nesse caso todas as tag img */
figure.fotos img {
    width: 100%; /* O tamanho da imagem vai ser 100% onde ela estiver */
    height: 100%;
}
figure.fotos figcaption {
    position: absolute; /* Posição absoluta dentro do container */
    top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    color: black;


}