.container{
    border: 2px solid black;
    width: 70%;
    max-width: 700px;
}
img {
    width: 100%;
    background-color: black;
}

/* @media e a condição  */
@media (min-width:600px) and (max-width: 1200px) {
    
    /* Codigo do media queries */
    
    body{
        background-color: blue;
    }
}