@font-face {
    font-family: cordel;
    src: url(pacote-d012/PassionOne-Bold.ttf);
}
@font-face {
    font-family: blz;
    src: url(pacote-d012/PassionOne-Bold.ttf);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
header{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}
header > h1{
    font-family: cordel;
    font-size: 12vw;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
header > p > a{
    color: white;
    text-decoration: none;
}
header >p>a:hover{
    text-decoration: underline;
}
section{
    margin: auto;
    padding: 20px;
    line-height: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    font-style: italic;

}
section.imagem{
    background-color: rgba(0, 0, 0, 0.468);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    padding: 10px;
    max-width: 470px;
    min-width: 1px;
    border-radius: 20px;
}
section#se1{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}
section#se2{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}
footer{
    background-color: black;
    margin: 0px;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-size: larger;
}
footer > p > a:hover{
    text-decoration: underline;
    
}
a{
    text-decoration: none;
    color: white;
}
